/* // Width: 1131px */
/* @media screen and (max-width: 71rem) { */
/* // Width: 1360px */
@media screen and (max-width: 85rem) {
  html {
    overflow: auto;
    overflow-x: hidden;
  }

  .container {
    gap: 24rem;
    justify-content: start;
    height: auto;
    height: 100vh;
  }

  /* .container a { */
  /* display: block; */
  /* } */

  .container .info {
    justify-content: center;
  }
  .container .date-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.8rem;
  }
  .container .fa-arrow-down {
    display: block;
    text-decoration: none;
  }

  .right-search {
    position: relative;
    width: auto;
  }
  .right-search .blur {
    left: -10;
  }
}

/* Width: 735px */
@media screen and (max-width: 64rem) {
  .container {
    padding: 0;
    gap: 0rem;
    justify-content: center;
    height: 100vh;
  }
  .container h3 {
    display: none;
  }
  .container .info {
    flex-direction: column;
  }

  .container .date-flex {
    order: -1;
  }
  .right-search {
    height: auto;
  }
}
/* Height: 864px */
@media screen and (max-height: 54rem) {
  .right-search .cities-flex ul,
  .right-search .weather-details-flex ul {
    gap: 1rem;
    justify-content: center;
  }
  .search-flex {
    padding-bottom: 1rem;
  }
}

@media screen and (max-height: 42rem) {
  .right-search .cities-flex ul,
  .right-search .weather-details-flex ul {
    flex-wrap: wrap;
  }

  .right-search .weather-details-flex ul {
    gap: 3rem;
    justify-content: center;
  }

  .weather-details-flex li {
    margin-right: 1rem;
  }
  .container .info {
    gap: 1rem;
  }
}
/* Height: 384px */
@media screen and (max-height: 24rem) {
  .container {
    gap: 0rem;
  }
}

/* Height: 280px */
@media screen and (max-height: 18rem) {
  .container {
    justify-content: center;
  }

  .container .date-flex h2 {
    font-size: 1.6rem;
  }

  .container .info h1 {
    font-size: 3.2rem;
  }
  .container a {
    display: none;
  }
}
